@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Open+Sans:wght@300&display=swap');

/* Greeting */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Dancing+Script:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Mukta:wght@600&family=Open+Sans:wght@300&display=swap');/*nidhi*/


/*STYLING FOR NAVBAR*/

*{
	margin: 0;
	padding: 0;
}
.navbar{
	position: fixed;
	width: 100%;
	margin: 0;
	background-color: black;
	padding: 0 0.8rem;
	display: flex;
	height: 62px;
}
.left{
  display: flex;  
  margin: 20px 366px 0px 49px;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: white;
}

.festivopedia{   
  height: 2.3rem;
  margin-right: 0.9rem
}
.festivopedia_logo{  
  height: 2.3rem;
  margin-right: 0.9rem
}
.navbar-right{
  display: flex;
  gap: 8.5rem;
  text-align: right;
  list-style: none;
  margin: 15px 0 0 0;
}
.navbar-right a{
	text-decoration: none;
	color: white;
	font-size: 18px;  
	font-family: 'Mukta', sans-serif;
}

/*for dropdown*/

.dropdown{
	float: left;
	overflow: hidden;
	margin: -9px;
}
.dropdown .dropbtn {
  font-size: 18px;  
  font-family: 'Mukta', sans-serif;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*dropdown ends*/
/*Styling for NAVBAR ends*/

/*STYLING FOR MAIN BODY PARTS*/

.imglogo{ 
  mix-blend-mode: multiply;
  filter: contrast(1);
  margin-top: 3rem;
  margin-bottom: -3rem;
  margin-left: 36%;
  width: 21rem;
  height: 11rem
}
body{
	background-image: url("background.jpeg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	text-align: center;
	margin: 10px;
	text-decoration: underline;
}
.home-para{
	margin-left: 5px;
	margin-right: 10px;
	font-family: 'Borel', cursive;
}

.mid{
	display: flex;
    width: 100%;
	margin-top: 19px;
	margin-bottom: 85px;
	margin-left: 19px;
	margin-right: 19px;
    text-align: center;
	position: relative;
	z-index: 1;
}
.imgtext{
	display: inline-block;
}
.pic:hover { 
  transform: scale(1.2); 
}
.imgtext p{
	font-family: baloo bhai;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
}

#container1 img{
	border: 2px solid goldenrod;
    width: 170px;
	height: 7rem;
    margin: 19px;
}
.pop:hover {  
	transform: scale(1.2); 
}

.imgtext a{
	color: black;
	text-decoration: none;
}


/* Greeting starts */
#hp{
	text-align: center;
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	margin-top: 100px;
	margin-bottom: 30px;
	background: linear-gradient(to right, rgb(255, 255, 6), rgb(202, 50, 75), rgb(68, 243, 255));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke: 0.7px black;
}

#greet_back{
background-image: url("g_bg.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.greet_main{
	width: 100%;
	margin: 19pxs;
	text-align: center;
	position: absolute;
}

.greet{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
}

.greet img{
	border: 2px solid goldenrod;
	width: 200px;
	height: 9rem;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.greet p{
	margin-bottom: 20px ;
	margin-left: 20px;
	font-family: 'Crimson Text', serif;
	font-size: 23.5px;
	text-align: left;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: black;
}

#greet_a{
	position: fixed;
	z-index: 1;
	top: 0;
}

#greet_b{
	margin-top: 462vh;
	position: relative;
	z-index: 1;
	bottom: 0;
}

/* Greeting ends */

.image{
	margin: 5px;
	width: 100%;
	height:190px;
}
body{
	background-color: #FFF0F5;
}
.content{
	display: flex;
}
.box1{
	margin-left: 20px;
	margin-top: 50px;
	width: 20%;
}
.index{
	font-size: 23px;
	font-style: bold;
	text-decoration: underline;
	line-height: 29px;
}
.box1 a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.box2{
	margin: 15px;
	width: 80%;
	display: flex;
}
.heading{
	margin: 5px;
	font-family: 'Mukta', sans-serif;
	font-size: 1.4rem;
}
#sub-heading{
	margin-left: 5px;
	font-style: bold;
}
#para{
	margin: 5px;
	width: 100%;
}
.box3{
	width: 30%;
	border: 1px solid;
	margin: 1px;
	margin-top: 5.3rem;
	height: 56rem;
	margin-left: 1rem;
}
h4{
	margin-top: 5px;
	text-align: center;  
}
.image1{
	margin-top: 5px;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 15rem;
	height: 10rem;
}
.headline{
	margin: 0px 4px;
	font-size:12px;
	text-align: center;
	font-style: italic;
}
.headline1{
	display: flex;
}
.box-body{
	display: flex;
}

.p1 {
	font-style: italic;
	font-size: 12px;
	line-height: 24px;
}
.p2{
	font-size: 15px;
	line-height: 15px;
	font-style: italic;
}

#bnr{  
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#bihuban{ 
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;	
}

#banner{ 
	margin-top: 60px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;	
}

#m_ban{
	margin-top: 60px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}


/*Gurunanak Jayanti */
.image-banner{
	margin-top: 35px;
	width: 100%;
	height:190px;
}

.box3-gn{
	width: 30%;
	border: 1px solid;
	margin: 1px;
	margin-top: 5.3rem;
	height: 59rem;
	margin-left: 1rem;
}

/* ABOUT US */
.body{
	background-color: #FFCCCC;
}
#image2{
	width: 100%;
  height: 16rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem
}
.box4{  
	display: flex;
  margin-left: 8rem
}
.box-left{
	display: inline-block;
	width: 50%;
	text-align: center;
	margin-top: 20px;
}
#first-heading{
	display: flex;
	font-family: 'Borel', cursive;
	font-size: 2.1rem;
	margin-top: 5rem;
	margin-bottom: 2rem;
    margin-left: 1rem;
	color: red;
	font-weight: bold;
	line-height: 25px;
}
#secnd-heading{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
  margin-left: -3.5rem;
}
.box-right-img{
	width: 28rem;
  height: 16rem;
  margin-left: 3rem
}
.box-right{
	display: flex;
	text-align: right;
}
.box5{
	display: flex;
}
.box-left-img{
	width: 28rem;
  height: 16rem;
  margin-left: 3rem
}
#first-para{
	font-size: 1.3rem;
  margin: 2.5rem;
  font-family: 'Borel', cursive;
  background-color: cadetblue;
  text-align: center;
  padding: 0.56rem;
  margin-top: 4rem;
}
.image3{
	margin: 2rem 2rem 0rem;
  height: 17rem;
  width: 95%;
}
.bottom-para{
	font-size: 1.1rem;
  margin: 2.5rem;
  font-family: 'Borel', cursive;
  background-color: darkcyan;
}
#bottompara{
	padding: 12px;
}


/*Footer*/
.footer {
  left: 0;
  height: 90px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.copyright{
	display: flex;
	padding-top: 1.1rem;
    padding-bottom: 0.5rem
}
.footer .copyright{
	gap: 2rem;
	margin-left: 37%;
	margin-top: 20px;
}
#footer-para{
	padding-bottom: 0.5rem;
}

#home_f{
	position: relative;
	margin-top: 100px;
	bottom: 0;
}
